{% trans_default_domain 'FOSUserBundle' %}
<div class="col-sm-offset-2 col-sm-10">
  <div style="margin-left: -10px;">
    <h1>Edit Profile</h1>
  </div>
</div>
{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig'  %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
<div class="col-sm-offset-2 col-sm-10" >
    <a style="margin-left: -10px;" class="btn btn-default btn-gray" href="{{ path("fos_user_profile_show") }}" >Cancel</a><input style="margin-left: 10px;" class="btn btn-default" type="submit" value="Save" />
</div>
{{ form_end(form) }}

