{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{{ form_widget(form) }}
<div class="col-sm-10 col-md-3 col-sm-offset-2 col-md-offset-2">
    <input style="margin-left: -10px;" class="btn btn-default" type="submit" value="Register"/>
</div>
{{ form_end(form) }}