{% trans_default_domain 'FOSUserBundle' %}
<div style="margin-left: -10px;">
    <h1>Change Password</h1>
</div>

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig'  %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
{% include 'Includes/submit-button-offset-2.html.twig' with {'value': 'change_password.submit'|trans } %}
    {#<div>#}
        {#<input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}" />#}
    {#</div>#}
{{ form_end(form) }}
